.row
  {% for module in modules -%}
  section#module-{{ module }}

    {% block header -%}
    .page-header
      h1#module-{{ module }}-title {{ module | title }} #[a.small(href="//github.com/mgcrea/angular-strap/blob/master/src/alert/alert.js") {{ module }}.js]
      code {{ pkg.repository.owner }}.{{ module }}

    p {{ pkg.description }}
    {%- endblock %}

    {% block examples -%}
    h2#module-{{ module }}-examples Examples
    ul
    {% for example in examples[module] %}
      li {{ example.basename }}
    {%- endfor %}
    {%- endblock %}

    {% block contributing -%}
    p Please submit all pull requests the against master branch. If your unit test contains JavaScript patches or features, you should include relevant unit tests. Thanks!
    {%- endblock %}
  {%- endfor %}
